@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Balsamiq Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker-wrapper{
  width: 100%;
}

.react-datepicker__day--disabled{
  text-decoration: line-through;
  background-color: #5d2929 ;
  border-radius: 5px;
}
.react-datepicker-popper{
  overflow: hidden !important;
  border-radius: 8px !important;
}

.react-datepicker__month, .react-datepicker__header, .react-datepicker-popper, .react-datepicker__month-container {
  color: #482A2A !important;
  background-color: #F2E8B1 !important;

}

.react-datepicker{
  border: none !important;
}

.react-datepicker__close-icon::after{
  background-color: #C74D3A !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #139774 !important;
  color: #F8F8E5 !important;
}
